<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= APP_TITLE %></title>
    <script type="module" src="<%= APP_SCRIPT_PATH %>" async defer></script>
    <link rel="stylesheet" href="<%= APP_STYLE_PATH %>"/>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
