.root {
  background: rgba(211, 211, 211, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: small;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 4em;
  overflow-x: hidden;
  overflow-y: auto;
}

.tech {
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > span {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}
